@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;600&display=swap');

body {
    font-family: 'IBM Plex Mono', monospace;
    color: #555;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, .05);
}

#page {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
}

/* Text */


a {
    text-decoration: none;
    color: brown;
    cursor: pointer;
}
a:hover {
    color: rgba(202, 11, 11, 0.63);
}

/* Header */
header {
    height: 200px;
    position: relative;
}
button {
    all: unset;
    cursor: pointer;
}

header a.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    display: inline-block;
}
.img-logo {
    width: 80px;
    height: 80px;
}

header a span {
    display: none;
}

header h1 {
    float: left;
    color: rgba(82, 0, 0, 0.932);
    position: relative;
    top: .01vh;
    left: 8vw;
}

header h4 {
    float: left;
    color: rgba(82, 0, 0, 0.932);
    position: relative;
    top: 2vh;
    left: 26vw;
    clear: left;
}

header img.AfiGtu {
    position: absolute;
    top: 50px;
    right: 20px;
    clear: both;
}

/* Section Main */

section.main {
    text-align: center;
    background-color: whitesmoke;
    padding: 20px;
}

.main h2 {
    border-bottom: 2px solid rgba(0, 0, 0, 0.726);
    width: auto;
    margin: 10px auto;
    padding: 10px;
}

/* Section Vision-Mision */

section.vision_mission {
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0;
    height: 400px;
}
.vm_logo {
    display: inline-block;
    margin: 10px 20px 10px 20px;
    float: left;
    margin-top: 50px;
}
section.vision_mission aside {
    width: 33%;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Section Facility */
.Facility {
    background-color: whitesmoke;
    height: 180px;
    width: 100%;
    padding: 20px;
    margin: 20px 20px 10px 0px;
}

/* Section Contact Us */
.contact_us {
    width: 400px;
    margin: 20px auto 20px;
    border: 3px inset black;
    padding: 20px;
    text-align: left;
}
.contact_us h3 {
    text-align: center;
}

/* Section Placements */
section.Placements {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
    height: 200px;
}

.Placements div {
    float: left;
    display: block;
    margin-left: 40px;

}
.Placements h2 {
    text-align: center;
    background-color: aliceblue;
}
.p_logos {
    margin: 30px 30px 30px 50px;
}

/* Navbar */
.menuDiv {
    width: max-content;
    display: none;
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menuIcon {
    color: #000;
    width: 34px;
    height: 34px;
}
.menuDiv:hover {
    color: brown;
}
nav.navb {
    float: inline-start;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    width: auto;
    margin: 20px;
}
a.aLink {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    color: black;
    letter-spacing: normal;
    font-weight: 500;
    border-bottom: 1px solid black;
    border-radius: 34px;
    text-align: center;
    margin-left: 34px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
a.aLink:hover {
    text-shadow: #555;
    border-bottom: 2px solid black;
    border-radius: 34px;
    background: linear-gradient(314.7deg,#06f 34.84%,#25a9f4 89.75%);
    transition: .2s border-bottom ease-in;
    transition: .3s background ease-in-out;
    color: white;
}


/* footer */

footer {
    text-align: center;
    height: 20px;
}
footer div h6 {
    color: rgba(82, 0, 0, 0.932);
}

@media screen and (max-width: 992px) {
    header img.AfiGtu {
        display: none;
    }
    #page {
        max-width: 992px;
    }
  }

  @media screen and (max-width: 600px) {
    nav.navb {
        display: none;
    }
    .menuDiv {
        display: flex;
        margin: auto;
    }
    .menuDiv a,span{
        display: flex;
        justify-content:center;
        align-items:center;
    }
  }

  @media screen and (max-width: 380px) {
    .img-logo {
        width: 60px;
        height: 60px;
        float: inline-start;
    }
    header h1 {
        position: relative;
        top: .1vh;
        float: inline-end;
    }
    header h4 {
        position: relative;
        top: 1vh;
        left: 7vw;
    }
    section.Placements {
        height: 600px;
    }
    #page {
        max-width: 380px;
    }
  }